@import '^variables';

.footer {
  background-color: $raisin-black;
  color: $white;
  padding: $layout-unit;
  text-align: center;
}

.header {
  background-color: $raisin-black;
  color: $white;
  padding: $layout-unit;

  @include respond-to('tablet') {
    padding: $layout-unit * 2;
  }

  @include respond-to('small-desktop') {
    padding: $layout-unit * 3;
  }
}

.appContainer {
  padding: $layout-unit * 2;
}

.appContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.smallSize {
  width: 100%;
  max-width: $breakpoint-tablet;
}