@import './^variables';

.button {
  background-color: $baby-blue;
  color: $white;
  padding: $default-spacing;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: $periwinkle;
  }
}

.card {
  border: 1px solid $antiflash-white;
  border-radius: 8px;
  padding: $layout-unit;
  background-color: $white;
  box-shadow: 0 4px 8px rgba($raisin-black, 0.1);
}


@mixin commonStyles {
  border-radius: $border-radius-md;
  border: $border-width-default solid $border-color-default;
  padding: $default-spacing $default-spacing;
  font-size: $font-size-base;
  line-height: 1.25;
  transition: all 0.25s;
}

.appInputTextField {
  position: relative;
  width: 100%;

  input {
    @include commonStyles;
    width: 100%;

    color: $raisin-black;
    box-shadow: 0 10px 15px rgba(31, 41, 55, 0.05);

    &::placeholder {
      color: $periwinkle;
    }

    &:placeholder-shown {
      border: $border-width-default solid $border-color-default;
    }

    &:focus {
      color: $raisin-black;
      border: 3px solid $raisin-black;
      outline: 0;
    }

    &:disabled {
      border: 0;
      background-color: $white; // disabled:bg-blue-gray-50
    }
  }
}


.appButton {
    @include commonStyles;
    cursor: pointer;

  &:hover {
    border-color: $raisin-black;
  }
}