@import './^devices';

// Colors
$primary-color: #EDFC2Aff;
$raisin-black: #23232Eff;
$antiflash-white: #EDEDEEff;
$celadon: #B7E09Dff;
$white: #FFFFFFff;
$lemon-lime: #EDFC2Aff;
$baby-blue: #8bcef2ff;
$periwinkle: #bcb1deff;
$folly: #ff3e67ff;

$border-color-default: #e5e7eb;

// Spacing
$default-spacing: 1rem;
$layout-unit: 20px;

// Typography
$font-family: 'Roboto', sans-serif;
$font-size-base: 1rem;


// Header sizes
$h1-size: 2rem;
$h2-size: 1.75rem;
$h3-size: 1.5rem;
$h4-size: 1.25rem;
$h5-size: 1rem;
$h6-size: 0.875rem;

// Border settings
$border-width-gentle: 1px;
$border-width-default: 3px;
$border-radius-sm: 8px;
$border-radius-md: 16px;
$border-radius-rounded: 50%;

// Header sizes
$h1-size: 2rem;
$h2-size: 1.75rem;
$h3-size: 1.5rem;
$h4-size: 1.25rem;
$h5-size: 1rem;
$h6-size: 0.875rem;
